# SwiftPM and Xcode
.build/
.swiftpm/xcode/
*.xcodeproj
*.xcworkspace
DerivedData/
*.xcuserstate

# Swift source artifacts
.swift-format-backup

# Python
__pycache__/
.env
*.py[cod]
*.pyo

# JetBrains Python
.idea/

# dotNET F#/C#
bin/
obj/
*.user
*.suo
*.dll
*.exe
*.pdb

# VS Code project settings
.vscode/
.history/

# Logs and OS metadata
*.log
.DS_Store